<h3 ng-if="!otters.length">No otters match your criteria... </h3>
<table class="table" ng-if="otters.length">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender and Orientation</th>
      <th>View</th>
      <th>Like</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="otter in otters" ng-class='{lightsteelblue: $even}'>
      
      <td>{{otter.firstname}}</td>
      <td>{{otter.aboutme.orientation + ' ' + otter.aboutme.gender}}</td>
      <td><button ng-click="viewOtter(otter._id)" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-pencil"></span>              
      </button></td>
      <td><button ng-click="likeOtter(otter._id)" class="btn btn-info btn-sm">
        <span class="glyphicon glyphicon-pencil"></span>              
      </button></td>
      <td><button ng-click="messageOtter(otter._id)" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-pencil"></span>              
      </button></td>
    </tr>
  </tbody>
</table>